:root,
body[data-theme="dark"] {
  --primary-01: #e4d199;
  --primary-02: #d9d78e;
  --primary-03: #fff94c;
  --primary-04: #ffff00;
  --primary-05: #ffee00;
  --primary-06: #ffcc00;
  --primary-07: #eebb00;
  --primary-08: #af4d4d;
  --primary-09: #8c0000;
  --primary-10: #72180a;

  --secondary-01: #015c8f;
  --secondary-02: #11223f;
  --secondary-03: #695419;
  --secondary-04: #96621c;
  --secondary-05: #f0a957;
  --secondary-06: #ff8800;
  --secondary-07: #e257f9;
  --secondary-08: #813edd;
  --secondary-09: #2d0b38;
  --secondary-10: #2b0401;

  --neutral-0: #ffffff;
  --neutral-50: #e9e9e9;
  --neutral-100: #e2e2e2;
  --neutral-200: #d1d3d4;
  --neutral-300: #c5c5c5;
  --neutral-400: #aaaaaa;
  --neutral-500: #909092;
  --neutral-600: #6f7795;
  --neutral-700: #707070;
  --neutral-800: #333333;
  --neutral-900: #171517;
  --neutral-1000: #000000;

  --emotional-01: #e9113c;
  --emotional-02: #f2708a;
  --emotional-03: #00e701;
  --emotional-04: #63fe64;
  --emotional-05: #4391e7;
  --emotional-06: #70aaeb;
  --emotional-07: #e6a23c;
  --emotional-08: #ffd780;
  --emotional-09: #313D12;
  --emotional-10: #3D1C17;

  --opacity-01: #0000004d;
  --opacity-02: #000000b2;
  --opacity-03: #ffffff4d;
  --opacity-04: #ffffffb2;
  --opacity-05: #ffffff1a;
  --opacity-06: #ffd7001a;
  --opacity-07: #ffffff00;
  --opacity-08: #ffffff00;
  --opacity-09: #ffffff00;
  --opacity-10: #ffffff00;

  --gradient-01: var(--neutral-1000);
  --gradient-02: var(--secondary-03);
  --gradient-03: var(--primary-08);
  --gradient-04: var(--primary-09);
  --gradient-05: var(--secondary-01);
  --gradient-06: var(--secondary-02);
  --gradient-07: var(--secondary-05);
  --gradient-08: var(--secondary-06);
  --gradient-09: var(--primary-02);
  --gradient-10: #6d5c2c;
  --gradient-11: #be9e45;
  --gradient-12: #40361a;
  --gradient-13: var(--neutral-0);
  --gradient-14: #464646;
  --gradient-15: var(--neutral-500);
  --gradient-16: var(--neutral-200);

  --gradation-01: linear-gradient(180deg, var(--gradient-01) 0%, var(--gradient-02) 100%);
  --gradation-02: linear-gradient(180deg, var(--gradient-10) 1%, var(--gradient-11) 30%, var(--gradient-12) 80%, var(--gradient-10) 100%);
  --gradation-03: linear-gradient(180deg, var(--gradient-05) 0%, var(--gradient-06) 100%);
  --gradation-04: linear-gradient(180deg, var(--gradient-16) 0%, var(--gradient-13) 5%, var(--gradient-13) 23%, var(--gradient-13) 30%, var(--gradient-15) 80%, var(--gradient-13) 100%);
  --gradation-05: linear-gradient(145deg, #fef3c7 0%, #fbbf24 30%, #f59e0b 60%, #d97706 100%);
  --gradation-06: linear-gradient(145deg, #fecdd3 0%, #f43f5e 30%, #e11d48 60%, #be123c 100%);
  --gradation-07: linear-gradient(318.93deg, var(--gradient-01) 11.44%, var(--gradient-02) 90.56%);
  --gradation-08: linear-gradient(145.85deg, #d1d5db 10.23%, #6b7280 93.6%);
  --gradation-09: conic-gradient(from 0deg, var(--gradient-09) 0%, var(--gradient-09) 70%, var(--gradient-10) 80%, #ffffff 85%, var(--gradient-10) 90%, var(--gradient-09) 100%);
}
