// Override: 修正以符合品牌色
:root {
  --lottery-ball-selected-border: var(--secondary-09);
  --lottery-pick-info-color: var(--neutral-800);
  --lottery-ball-selected-bg: linear-gradient(318.93deg, var(--secondary-09) 11.44%, var(--secondary-08) 90.56%);
  --lottery-ball-count-selected-color: var(--neutral-0);
  --lottery-ball-count-color: var(--neutral-700);
  --lottery-legend-label: var(--neutral-500);
  --lottery-rule-text-color: var(--neutral-500);
  --ball-selected-border: var(--secondary-08);
  --lottery-history-mini-ball-border: var(--secondary-08);
  --lottery-btn-primary-bg: var(--secondary-08);
  --lottery-selection-btn-hover-bg: var(--secondary-09);
  --lottery-countdown-card-top-bg: var(--secondary-09);
  --lottery-countdown-card-bottom-bg: var(--secondary-08);

  --lottery-history-stat-text: var(--neutral-800);
  --lottery-history-secondary-text: var(--neutral-800);
}