:root,
body[data-theme="dark"] {
  --primary-01: #a0b9c4;
  --primary-02: #68bacf;
  --primary-03: #24aae1;
  --primary-04: #04668e;
  --primary-05: #0059e1;
  --primary-06: #303970;
  --primary-07: #282855;
  --primary-08: #0a1c4c;
  --primary-09: #1d1e36;
  --primary-10: #04041e;

  --secondary-01: #779e00;
  --secondary-02: #022a24;
  --secondary-03: #fffae9;
  --secondary-04: #efebdc;
  --secondary-05: #664422;
  --secondary-06: #504b9e;
  --secondary-07: #d0d0d0;
  --secondary-08: #ffffff00;
  --secondary-09: #ffffff00;
  --secondary-10: #ffffff00;

  --neutral-0: #ffffff;
  --neutral-50: #fcfbfa;
  --neutral-100: #f7f7f7;
  --neutral-200: #e4e4e4;
  --neutral-300: #989a9d;
  --neutral-400: #5e5e5e;
  --neutral-500: #45455c;
  --neutral-600: #272a34;
  --neutral-700: #272521;
  --neutral-800: #1b1b1b;
  --neutral-900: #16161a;
  --neutral-1000: #000000;

  --emotional-01: #e9113c;
  --emotional-02: #f2708a;
  --emotional-03: #00e701;
  --emotional-04: #63fe64;
  --emotional-05: #4391e7;
  --emotional-06: #70aaeb;
  --emotional-07: #e6a23c;
  --emotional-08: #ffd780;
  --emotional-09: #313D12;
  --emotional-10: #3D1C17;

  --opacity-01: #0000004d;
  --opacity-02: #000000b2;
  --opacity-03: #ffffff4d;
  --opacity-04: #ffffffb2;
  --opacity-05: #ffffff1a;
  --opacity-06: #ffd7001a;
  --opacity-07: #ffffff00;
  --opacity-08: #ffffff00;
  --opacity-09: #ffffff00;
  --opacity-10: #ffffff00;

  --gradient-01: var(--primary-08);
  --gradient-02: var(--primary-06);
  --gradient-03: var(--primary-07);
  --gradient-04: var(--primary-03);
  --gradient-05: var(--secondary-01);
  --gradient-06: var(--neutral-300);
  --gradient-07: var(--neutral-100);
  --gradient-08: var(--neutral-400);
  --gradient-09: #ffffff00;
  --gradient-10: #ffffff00;
  --gradient-11: #ffffff00;
  --gradient-12: #ffffff00;
  --gradient-13: #ffffff00;
  --gradient-14: #ffffff00;
  --gradient-15: #ffffff00;
  --gradient-16: #ffffff00;

  --gradation-01: linear-gradient(180deg, var(--gradient-01) 0%, var(--gradient-02) 100%);
  --gradation-02: linear-gradient(180deg, var(--gradient-04) 0%, var(--gradient-03) 100%);
  --gradation-03: linear-gradient(180deg, var(--gradient-05) 0%, var(--gradient-05) 19%, var(--gradient-05) 100%);
  --gradation-04: linear-gradient(180deg, var(--gradient-06) 0%, var(--gradient-07) 50%, var(--gradient-08) 100%);
  --gradation-05: linear-gradient(145deg, #fef3c7 0%, #fbbf24 30%, #f59e0b 60%, #d97706 100%);
  --gradation-06: linear-gradient(145deg, #fecdd3 0%, #f43f5e 30%, #e11d48 60%, #be123c 100%);
  --gradation-07: linear-gradient(318.93deg, var(--gradient-01) 11.44%, var(--gradient-02) 90.56%);
  --gradation-08: linear-gradient(145.85deg, #d1d5db 10.23%, #6b7280 93.6%);
  --gradation-09: conic-gradient(from 0deg, #ffffff00 0%, #ffffff00 70%, #ffffff00 80%, #ffffff 85%, #ffffff00 90%, #ffffff00 100%);
}
