// Override: 修正 selected ball 顏色以符合品牌色
:root {
  --lottery-ball-selected-border: var(--primary-07);
  --lottery-ball-selected-bg: linear-gradient(318.93deg, var(--gradient-06) 11.44%, var(--primary-01) 90.56%);
  --lottery-pick-info-color: var(--neutral-800);
}
