:root,
body[data-theme="dark"] {
  --primary-01: #96b7d5;
  --primary-02: #5e7b95;
  --primary-03: #557086;
  --primary-04: #566671;
  --primary-05: #2d4453;
  --primary-06: #2f4553;
  --primary-07: #293c49;
  --primary-08: #1a2c38;
  --primary-09: #0f212e;
  --primary-10: #071824;

  --secondary-01: #00e701;
  --secondary-02: #0fbe54;
  --secondary-03: #0d8b4a;
  --secondary-04: #eae9ce;
  --secondary-05: #fc9100;
  --secondary-06: #cd4e00;
  --secondary-07: #611d1d;
  --secondary-08: #b1bad3;
  --secondary-09: #4391e7;
  --secondary-10: #105eb4;

  --neutral-0: #ffffff;
  --neutral-50: #d8d8d8;
  --neutral-100: #d2d2d2;
  --neutral-200: #898c9e;
  --neutral-300: #8a8a8a;
  --neutral-400: #525252;
  --neutral-500: #333333;
  --neutral-600: #2d2d2d;
  --neutral-700: #1d1d1d;
  --neutral-800: #161513;
  --neutral-900: #000000;
  --neutral-1000: #000000;

  --emotional-01: #e9113c;
  --emotional-02: #f2708a;
  --emotional-03: #67c23a;
  --emotional-04: #a2e081;
  --emotional-05: #409eff;
  --emotional-06: #7dbdff;
  --emotional-07: #e6a23c;
  --emotional-08: #facb82;
  --emotional-09: #313D12;
  --emotional-10: #3D1C17;

  --opacity-01: #0000004d;
  --opacity-02: #000000b2;
  --opacity-03: #ffffff4d;
  --opacity-04: #ffffffb2;
  --opacity-05: #ffffff1a;
  --opacity-06: #ffd7001a;
  --opacity-07: #ffffff00;
  --opacity-08: #ffffff00;
  --opacity-09: #ffffff00;
  --opacity-10: #ffffff00;

  --gradient-01: var(--primary-09);
  --gradient-02: var(--primary-05);
  --gradient-03: var(--secondary-10);
  --gradient-04: var(--primary-02);
  --gradient-05: var(--primary-01);
  --gradient-06: var(--primary-05);
  --gradient-07: #ffffff00;
  --gradient-08: #ffffff00;
  --gradient-09: #ffffff00;
  --gradient-10: #ffffff00;
  --gradient-11: #ffffff00;
  --gradient-12: #ffffff00;
  --gradient-13: #ffffff00;
  --gradient-14: #ffffff00;
  --gradient-15: #ffffff00;
  --gradient-16: #ffffff00;

  --gradation-01: linear-gradient(180deg, var(--gradient-01) 0%, var(--gradient-02) 100%);
  --gradation-02: linear-gradient(180deg, var(--gradient-02) 0%, var(--gradient-03) 100%);
  --gradation-03: linear-gradient(180deg, var(--gradient-02) 0%, var(--gradient-02) 100%);
  --gradation-04: linear-gradient(180deg, var(--gradient-04) 0%, var(--gradient-05) 50%, var(--gradient-06) 100%);
  --gradation-05: linear-gradient(145deg, #fef3c7 0%, #fbbf24 30%, #f59e0b 60%, #d97706 100%);
  --gradation-06: linear-gradient(145deg, #fecdd3 0%, #f43f5e 30%, #e11d48 60%, #be123c 100%);
  --gradation-07: linear-gradient(318.93deg, var(--gradient-01) 11.44%, var(--gradient-02) 90.56%);
  --gradation-08: linear-gradient(145.85deg, #d1d5db 10.23%, #6b7280 93.6%);
  --gradation-09: conic-gradient(from 0deg, #ffffff00 0%, #ffffff00 70%, #ffffff00 80%, #ffffff 85%, #ffffff00 90%, #ffffff00 100%);
}
