:root,
body[data-theme="dark"] {
  --primary-01: #fff7e6;
  --primary-02: #ffe8b7;
  --primary-03: #f9d997;
  --primary-04: #d8bd80;
  --primary-05: #ffcc31;
  --primary-06: #ffa700;
  --primary-07: #c5922b;
  --primary-08: #7f6939;
  --primary-09: #44361a;
  --primary-10: #332915;

  --secondary-01: #ff5544;
  --secondary-02: #ed1414;
  --secondary-03: #4caf50;
  --secondary-04: #6f0fff;
  --secondary-05: #27173e;
  --secondary-06: #007aff;
  --secondary-07: #f1c137;
  --secondary-08: #73622f;
  --secondary-09: #ffffff00;
  --secondary-10: #ffffff00;

  --neutral-0: #ffffff;
  --neutral-50: #d8d8d8;
  --neutral-100: #d2d2d2;
  --neutral-200: #898c9e;
  --neutral-300: #8a8a8a;
  --neutral-400: #525252;
  --neutral-500: #333333;
  --neutral-600: #2d2d2d;
  --neutral-700: #1d1d1d;
  --neutral-800: #161513;
  --neutral-900: #000000;
  --neutral-1000: #000000;

  --emotional-01: #e9113c;
  --emotional-02: #f2708a;
  --emotional-03: #67c23a;
  --emotional-04: #a2e081;
  --emotional-05: #409eff;
  --emotional-06: #7dbdff;
  --emotional-07: #e6a23c;
  --emotional-08: #facb82;
  --emotional-09: #313D12;
  --emotional-10: #3D1C17;

  --opacity-01: #0000004d;
  --opacity-02: #000000b2;
  --opacity-03: #ffffff4d;
  --opacity-04: #ffffffb2;
  --opacity-05: #ffffff1a;
  --opacity-06: #ffd7001a;
  --opacity-07: #ffffff00;
  --opacity-08: #ffffff00;
  --opacity-09: #ffffff00;
  --opacity-10: #ffffff00;

  --gradient-01: var(--neutral-600);
  --gradient-02: var(--neutral-600);
  --gradient-03: var(--primary-05);
  --gradient-04: var(--neutral-50);
  --gradient-05: var(--neutral-400);
  --gradient-06: var(--neutral-400);
  --gradient-07: var(--secondary-04);
  --gradient-08: var(--secondary-02);
  --gradient-09: #ffffff00;
  --gradient-10: #ffffff00;
  --gradient-11: #ffffff00;
  --gradient-12: #ffffff00;
  --gradient-13: #ffffff00;
  --gradient-14: #ffffff00;
  --gradient-15: #ffffff00;
  --gradient-16: #ffffff00;

  --gradation-01: linear-gradient(180deg, var(--gradient-01) 0%, var(--gradient-02) 100%);
  --gradation-02: linear-gradient(180deg, var(--gradient-03) 0%, var(--gradient-03) 100%);
  --gradation-03: linear-gradient(180deg, var(--gradient-03) 0%, var(--gradient-03) 100%);
  --gradation-04: linear-gradient(180deg, var(--gradient-05) 0%, var(--gradient-04) 50%, var(--gradient-05) 100%);
  --gradation-05: linear-gradient(145deg, #fef3c7 0%, #fbbf24 30%, #f59e0b 60%, #d97706 100%);
  --gradation-06: linear-gradient(145deg, #fecdd3 0%, #f43f5e 30%, #e11d48 60%, #be123c 100%);
  --gradation-07: linear-gradient(318.93deg, var(--gradient-01) 11.44%, var(--gradient-02) 90.56%);
  --gradation-08: linear-gradient(145.85deg, #d1d5db 10.23%, #6b7280 93.6%);
  --gradation-09: conic-gradient(from 0deg, #ffffff00 0%, #ffffff00 70%, #ffffff00 80%, #ffffff 85%, #ffffff00 90%, #ffffff00 100%);
}
