:root {
  --primary-01: #eae7ff;
  --primary-02: #c89ceb;
  --primary-03: #6b5599;
  --primary-04: #8925f4;
  --primary-05: #7e24c4;
  --primary-06: #7400cf;
  --primary-07: #711499;
  --primary-08: #54078f;
  --primary-09: #4f0270;
  --primary-10: #2a0062;
  --secondary-01: #f1d711;
  --secondary-02: #facc15;
  --secondary-03: #ffc115;
  --secondary-04: #f59e0b;
  --secondary-05: #e1a604;
  --secondary-06: #cd9805;
  --secondary-07: #a8bf2e;
  --secondary-08: #f1f5f9;
  --secondary-09: #f722f7;
  --secondary-10: #cf3e3e;
  --neutral-0: #ffffff;
  --neutral-50: #e5e7eb;
  --neutral-100: #d1d5db;
  --neutral-200: #9ca3af;
  --neutral-300: #6b7280;
  --neutral-400: #747474;
  --neutral-500: #374151;
  --neutral-600: #444444;
  --neutral-700: #26212c;
  --neutral-800: #1a1a1a;
  --neutral-900: #0d0d0d;
  --neutral-1000: #000000;
  --emotional-01: #e9113c;
  --emotional-02: #f2708a;
  --emotional-03: #67c23a;
  --emotional-04: #a2e081;
  --emotional-05: #409eff;
  --emotional-06: #7dbdff;
  --emotional-07: #e6a23c;
  --emotional-08: #facb82;
  --emotional-09: #313d12;
  --emotional-10: #3d1c17;
  --opacity-01: #0000004d;
  --opacity-02: #000000b2;
  --opacity-03: #ffffff4d;
  --opacity-04: #ffffff00;
  --opacity-05: #ffffff1a;
  --opacity-06: #ffd7001a;
  --opacity-07: #ffffff00;
  --opacity-08: #ffffff00;
  --opacity-09: #ffffff00;
  --opacity-10: #ffffff00;
  --gradient-01: var(--neutral-50);
  --gradient-02: var(--neutral-0);
  --gradient-03: var(--neutral-100);
  --gradient-04: var(--neutral-300);
  --gradient-05: #ffffff00;
  --gradient-06: var(--primary-04);
  --gradient-07: #ffffff00;
  --gradient-08: #ffffff00;
  --gradient-09: #ffffff00;
  --gradient-10: #ffffff00;
  --gradient-11: #ffffff00;
  --gradient-12: #ffffff00;
  --gradient-13: #ffffff00;
  --gradient-14: #ffffff00;
  --gradient-15: #ffffff00;
  --gradient-16: #ffffff00;
  --gradation-01: linear-gradient(180deg, var(--gradient-01) 0%, var(--gradient-02) 100%);
  --gradation-02: linear-gradient(180deg, var(--gradient-05) 0%, var(--gradient-05) 100% );
  --gradation-03: linear-gradient(180deg, var(--gradient-06) 0%, var(--gradient-06) 100%);
  --gradation-04: linear-gradient(180deg, var(--gradient-04) 0%, var(--gradient-03) 50%, var(--gradient-04) 100%);
  --gradation-05: linear-gradient(145deg, #fef3c7 0%, #fbbf24 30%, #f59e0b 60%, #d97706 100%);
  --gradation-06: linear-gradient(145deg, #fecdd3 0%, #f43f5e 30%, #e11d48 60%, #be123c 100%);
  --gradation-07: linear-gradient(318.93deg, var(--gradient-01) 11.44%, var(--gradient-02) 90.56%);
  --gradation-08: linear-gradient(145.85deg, #d1d5db 10.23%, #6b7280 93.6%);
  --gradation-09: conic-gradient(from 0deg, #ffffff00 0%, #ffffff00 70%, #ffffff00 80%, #ffffff 85%, #ffffff00 90%, #ffffff00 100%);
}
