// Override: 修正以符合品牌色
:root {
  --lottery-ball-selected-border: var(--primary-03);
  --lottery-pick-info-color: var(--neutral-800);
  --lottery-ball-selected-bg: linear-gradient(318.93deg, var(--primary-01) 11.44%, var(--primary-02) 90.56%);
  --lottery-ball-count-selected-color: var(--neutral-0);
  --lottery-ball-count-color: var(--neutral-700);
  --lottery-legend-label: var(--neutral-500);
  --lottery-rule-text-color: var(--neutral-500);
  --ball-selected-border: var(--primary-02);
  --lottery-history-mini-ball-border: var(--primary-02);
  --lottery-btn-primary-bg: var(--primary-02);
  --lottery-selection-btn-hover-bg: var(--primary-02);
  --lottery-countdown-card-top-bg: var(--primary-03);
  --lottery-countdown-card-bottom-bg: var(--primary-02);

  --lottery-history-stat-text: var(--neutral-800);
  --lottery-history-secondary-text: var(--neutral-800);

  --lottery-ball-number-disabled-color: var(--neutral-600);
  --lottery-ball-count-disabled-color: var(--neutral-600);
}